.conts {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  min-height: 150px;
  margin-bottom: 10px;
}
.cont-2{
display: grid;
grid-template-columns: repeat(3, 1fr);

}
.women-grid{
display: grid;
grid-template-columns: repeat(4, 1fr);


}
.girls-grid{
display: grid;
grid-template-columns: repeat(4, 1fr);
}

.boys-grid {
display: grid;
grid-template-columns: repeat(3, 1fr);  
}
.side-nav {
    padding-top:10px;
  height: 46vh;
  flex: 0.5;
  background-color: #e9e9e9;
  text-align: left;
  color: #262634;
  padding-left: 30px;
  font-weight: 200;
  text-transform: capitalize;
  p {
    padding-top: 10px;
    border-bottom: 1px solid #f9f9f9;
  }

  h4 {
    font-size: 17px;
    text-transform: uppercase;
    margin-top: 10px;
    transition: color 0.4s;
    opacity: 1.5;
  }
}
.side-nav1 {
    margin-top:5rem;
    padding-top: 10px;
  height: 150vh;
  flex: 0.5;
  background-color: #e9e9e9;
  text-align: left;
  color: #262634;
  padding-left: 30px;
  font-weight: 200;
  text-transform: capitalize;
  p {
    padding-top: 10px;
    border-bottom: 1px solid #f9f9f9;
  }

  h5 {
    font-size: 17px;
    text-transform: uppercase;
    margin-top: 10px;
    transition: color 0.4s;
    opacity: 1.5;
  }
}

.product-section {
  text-align: center;
  margin-top: 20px;
  h2 {
  }
  span {
    margin: 20px;
    text-transform: capitalize;
    color: rgb(39, 72, 73);
    font-weight: 400;
  }
}
.slick {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  margin: auto;
}

.img {
  width: 300px;
  height: 300px;
}


.last-section {
  display: flex;
  margin-top: 4rem;

  h5 {
    padding-bottom: 15px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #262634;
  }
  .product {
    display: flex;
  }

  .product-info {
  }

  li {
    list-style: none;
    font-weight: 600;
    font-weight: 500;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    line-height: 1.7;
    letter-spacing: 0.05em;
    color: #717179;
  }
}

@media only screen and(min-width:'300px')and (max-width: '500px') {
.cont {
  display:block;
}
.side-nav1{
  // display:none;
}
.side-nav{
display:flex;
height:8vh !important;
margin-bottom: 10px;
p {
  padding-right: 15px;
  font-size: 16px;
}
h5 {
  padding-right:25px;
}
  p {
    padding-top: 10px;
    border-bottom: 1px solid #f9f9f9;
  }

  h4 {
    font-size: 17px;
    text-transform: uppercase;
    margin-top: 10px;
    transition: color 0.4s;
    opacity: 1.5;
  }
}
.cont-2 {
  display:grid;
  grid-template-columns: 1fr;
}
.girls-grid {
  display:grid;
  grid-template-columns: 1fr;
}
.women-grid {
  display:grid;
  grid-template-columns: 1fr;
}
.boys-grid {
  display:grid;
  grid-template-columns: 1fr;
}
}

@media only screen and(min-width :'501px') and (max-width: '900px') {

.cont {
  display:block;
}
.side-nav{
display:flex;
height:8vh !important;
margin-bottom: 10px;
p {
  padding-right: 15px;
  font-size: 16px;
}
h5 {
  padding-right:25px;
}
  p {
    padding-top: 10px;
    border-bottom: 1px solid #f9f9f9;
  }

  h4 {
    font-size: 17px;
    text-transform: uppercase;
    margin-top: 10px;
    transition: color 0.4s;
    opacity: 1.5;
  }
}
.women-grid {
  display:grid;
 grid-template-columns: repeat(2, 1fr); 
}
.cont-2 {
  display:grid;
  grid-template-columns:repeat(2, 1fr); 
}
.girls-grid {
  display:grid;
grid-template-columns: repeat(2, 1fr); 
}
.boys-grid {
display: grid;
grid-template-columns: repeat(2, 1fr);  
}
.conts {
  flex-direction: column;
}
}


@media only screen and(min-width :'900px') and (max-width: '1200px') {
.cont {
  display:block;
}
.side-nav{
display:flex;
height:8vh !important;
margin-bottom: 10px;
p {
  padding-right: 15px;
  font-size: 16px;
}
h5 {
  padding-right:25px;
}
  p {
    padding-top: 10px;
    border-bottom: 1px solid #f9f9f9;
  }

  h4 {
    font-size: 17px;
    text-transform: uppercase;
    margin-top: 10px;
    transition: color 0.4s;
    opacity: 1.5;
  }
}
.girls-grid {
  display:grid;
grid-template-columns: repeat(3, 1fr); 
}
.boys-grid {
display: grid;
grid-template-columns: repeat(3, 1fr);  
}
.women-grid {
  display:grid;
 grid-template-columns: repeat(3, 1fr); 
}
}
@media  only screen  and (min-width:'1200px')and (max-width :'1800px'){
.girls-grid {
  display:grid;
grid-template-columns: repeat(4, 1fr); 
}
.boys-grid {
display: grid;
grid-template-columns: repeat(4, 1fr);  
}
.women-grid {
  display:grid;
 grid-template-columns: repeat(4, 1fr); 
}
}
