$primary-color: #0f171e;
$secondary-color: #1a242f;
$font-primary: #ffffff;
$font-secondary: #79b8f3;
$error-color: #ff0000;
$text-size:12px;

$bg-dark: #000000;
$body-color: #999999;
$font-family-sans-serif: "Poppins",
